/* FONTS    Cormorant & Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
    --main-bg-color: #FB5F4F;
    --main-bg-color-light: #f0a894;
    --main-bg-color-dark: #c23b3b;
    --main-bg-color-lightest: #FFF6E8;
    --text-color-white: #fff;
    --text-color-black: #000;
    --text-color-main: #FB5F4F;
}
html, body {
    width: 100%;
}
body {
    margin: 0;
    font-family: 'Cormorant';
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        'header'
        'main'
        'footer';
  }
body > header {
    grid-area: header;
    z-index: 2;
}
body > main {
    grid-area: main;
}
body > footer {
    grid-area: footer;
}
.imgfitPage {
    width: 100%;
    display: block;
}
.wrapper {
    width: 100vw;
}

/* LOADER */
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

/* HEADER */
.nav {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    position: sticky;
    top: 0;
    background: var(--main-bg-color);
    height: 60px;
}
.headerLogo {
    padding: 4px;
}
.headerLogoImg {
    width: 80px;
}
.menuItem {
    font-size: 30px;
    color: var(--text-color-white);
    text-decoration: none;
    margin: 30px 63px;
    line-height: 2;
}
.menuItem:hover {
    text-decoration: underline;
}
.hamburger {
    z-index: 100;
    margin-right: 16px;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0 8px 0 8px;
}
.menuIcon {
    color: var(--text-color-white);
}
.closeIcon {
    display: none;
    color: var(--text-color-white);
}
.menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--main-bg-color);
    color: var(--text-color-white);
    padding-top: 64px;
}
.showMenu {
    transform: translateY(0);
}
   /* TABLET */
   @media (min-width: 481px) {
    .menuItem {
        display: flex;
        align-items: center;
        justify-content: center;
    }
   }
    /* DESKTOP */
    @media (min-width: 1025px) {
        .menuItem {
            font-size: 20px;
            margin: 0 20px;
        }
        .hamburger {
            display: none;
        }
        .menu {
            display: flex;
            flex-direction: row;
            text-align: right;
            position: static;
            transform: translateY(0);
            transition: none;
            list-style: none;
            padding-top: 0;
        }
    }

/* FOOTER */
.footer {
    border-top: solid 2px #fff;
}
.subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--text-color-white);
    background-color: var(--main-bg-color-light);
    padding: 16px 32px;
    margin-bottom: 8px;
}
.subscribeTitle {
    font-size: 21px;
    font-weight: bolder;
    margin-bottom: 4px;
}
.subscibeForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 21px;
}
#subscribeEmail {
    color: grey;
    font-family: 'Open Sans';
    font-size: 12px;
    width: 200px;
    outline: none;
    padding: 8px 16px;
    border-radius: 4px;
    border: 2px solid var(--main-bg-color);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
#subscribeEmail:focus {
    border: 2px solid var(--main-bg-color-dark);
}
#subscribeBtn {
    width: 100px;
    margin: 16px 0;
    cursor: pointer;
    color: #fff;
    border-style: none;
    padding: 4px 2px;
    background-color: var(--main-bg-color);
    border-radius: 4px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.some {
    display: flex;
    flex-direction: row;
} 
.someCircle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    margin-left: 16px;
    margin-bottom: 8px;
    height: 32px;
    width: 32px;
}